#
# ASIX device configuration
#
config NET_VENDOR_ASIX
        bool "Asix devices"
        default y
        depends on ARM
        ---help---
          Choose Asix Ethernet chipset support.

if NET_VENDOR_ASIX

config AX88796C
	tristate "AX88796C support"
	depends on ARM
	select CRC32
	select NET_CORE
	select MII
	---help---
	  Support for AX88796C chipset.

	  To compile this driver as a module, choose M here.  The module
	  will be called AX88796C.

config AX88772C
	tristate "AX88772C support"
	depends on ARM
	select CRC32
	select NET_CORE
	select MII
	---help---
	  Support for AX88772C chipset.

	  To compile this driver as a module, choose M here.  The module
	  will be called AX88772C.

endif #NET_VENDOR_ASIX
